<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Document</title>
    <!-- 引入样式 -->
    <link href="../../plugins/element-ui/index.css" rel="stylesheet"/>
    <link href="../../styles/common.css" rel="stylesheet"/>
    <link href="../../styles/page.css" rel="stylesheet"/>
</head>
<body>
<div class="addBrand-container" id="supplier-add-app">
    <div class="container">
        <el-form
                :inline="false"
                :model="ruleForm"
                :rules="rules"
                class="demo-ruleForm"
                label-width="180px"
                ref="ruleForm"
        >
            <div>
                <el-form-item
                        label="供应商名称:"
                        prop="name"
                >
                    <el-input
                            maxlength="20"
                            placeholder="请输入供应商名称"
                            v-model="ruleForm.name"
                    />
                </el-form-item>

                <el-form-item
                        label="联系手机号:"
                        prop="phone"
                >
                    <el-input
                            maxlength="20"
                            placeholder="请输入联系手机号"
                            v-model="ruleForm.phone"
                    />
                </el-form-item>
            </div>
            <el-form-item
                    label="联系地址:"
                    prop="address"
            >
                <el-input
                        maxlength="20"
                        placeholder="请输入联系地址"
                        v-model="ruleForm.address"
                />
            </el-form-item>
            <div class="subBox address">
                <el-form-item>
                    <el-button @click="goBack()">
                        取消
                    </el-button>
                    <el-button
                            @click="submitForm('ruleForm', false)"
                            type="primary"
                    >
                        保存
                    </el-button>
                    <el-button
                            @click="submitForm('ruleForm', true)"
                            class="continue"
                            type="primary"
                            v-if="actionType == 'add'"
                    >
                        保存并继续添加
                    </el-button>
                </el-form-item>
            </div>
        </el-form>
    </div>
</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../../plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../plugins/element-ui/index.js"></script>
<!-- 引入axios -->
<script src="../../plugins/axios/axios.min.js"></script>
<script src="../../js/request.js"></script>
<script src="../../api/supplier.js"></script>
<script src="../../js/validate.js"></script>
<script src="../../js/index.js"></script>
<script>
    new Vue({
        el: '#supplier-add-app',
        data() {
            return {
                id: '',
                actionType: '',
                ruleForm: {
                    'name': '',
                    'phone': '',
                    'address': '',
                }
            }
        },
        computed: {
            rules() {
                return {
                    //姓名
                    name: [{required: true, 'validator': checkSupplierName, 'trigger': 'blur'}],
                    'phone': [{'required': true, 'validator': checkPhone, 'trigger': 'blur'}],
                    'address': [{'required': true, 'validator': checkAddress, 'trigger': 'blur'}]
                }
            }
        },
        created() {
            this.id = requestUrlParam('id')
            this.actionType = this.id ? 'edit' : 'add'
            if (this.id) {
                this.init()
            }
        },
        mounted() {
        },
        methods: {
            async init() {
                querySupplierById(this.id).then(res => {
                    console.log(res)
                    if (String(res.code) === '1') {
                        console.log(res.data)
                        this.ruleForm = res.data
                    } else {
                        this.$message.error(res.msg || '操作失败')
                    }
                })
            },
            submitForm(formName, st) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        if (this.actionType === 'add') {
                            const params = {
                                ...this.ruleForm,
                            }
                            addEmployee(params).then(res => {
                                if (res.code === 1) {
                                    this.$message.success('供应商添加成功！')
                                    if (!st) {
                                        this.goBack()
                                    } else {
                                        this.ruleForm = {
                                            username: '',
                                            'name': '',
                                            'phone': '',
                                            'sex': '男',
                                            'idNumber': ''
                                        }
                                    }
                                } else {
                                    this.$message.error(res.msg || '操作失败')
                                }
                            }).catch(err => {
                                this.$message.error('请求出错了：' + err)
                            })
                        } else {
                            const params = {
                                ...this.ruleForm,
                            }
                            editSupplier(params).then(res => {
                                if (res.code === 1) {
                                    this.$message.success('供应商信息修改成功！')
                                    this.goBack()
                                } else {
                                    this.$message.error(res.msg || '操作失败')
                                }
                            }).catch(err => {
                                this.$message.error('请求出错了：' + err)
                            })
                        }
                    } else {
                        console.log('error submit!!')
                        return false
                    }
                })
            },
            goBack() {
                window.parent.menuHandle({
                    id: '2',
                    url: '/backend/page/supplier/list.html',
                    name: '供应商管理'
                }, false)
            }
        }
    })
</script>
</body>
</html>