<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge"
          http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0"
          name="viewport">
    <title>订单管理</title>
    <!-- 引入样式 -->
    <link href="../../plugins/element-ui/index.css"
          rel="stylesheet"/>
    <link href="../../styles/common.css"
          rel="stylesheet"/>
    <link href="../../styles/page.css"
          rel="stylesheet"/>
    <style>
        .search-btn {
            margin-left: 20px;
        }

        .tableBar {
            justify-content: flex-start !important;
        }

        .info-box {
            margin: -15px -44px 20px;
        }

        .info-box .item-box {
            display: flex;
            height: 20px;
            line-height: 20px;
            font-size: 14px;
            font-weight: 400;
            color: #666666;
            text-align: left;
            margin-bottom: 14px;
        }

        .info-box .item-box:last-child {
            margin-bottom: 0;
        }

        .info-box .item-box .label {
            width: 96px;
        }

        .info-box .item-box .des {
            flex: 1;
            color: #333333;
        }
    </style>
</head>
<body>
<div class="dashboard-container"
     id="order-app"
     v-loading="loading">
    <div class="container">
        <!-- 搜索项 -->
        <div class="tableBar">
            <el-input placeholder="请输入订单号"
                      style="width: 250px"
                      v-model="input">
                <i
                        class="el-input__icon el-icon-search"
                        slot="prefix"
                        style="cursor: pointer"></i>
            </el-input>
            <el-date-picker :default-time="['00:00:00', '23:59:59']"
                            clearable
                            end-placeholder="结束日期"
                            placeholder="选择日期"
                            range-separator="至"
                            start-placeholder="开始日期"
                            style="width: 400px;margin-left: 20px;"
                            type="datetimerange"
                            v-model="orderTime"
                            value-format="yyyy-MM-dd HH:mm:ss"
            ></el-date-picker>
            <el-button @click="init"
                       class="search-btn"
                       type="primary">查询
            </el-button>
        </div>
        <el-table :data="tableData"
                  class="tableBox"
                  stripe>
            <el-table-column label="顾客"
                             prop="user">
                <template v-slot="scope">
                    {{formattingName(scope.row.user)}}
                </template>
            </el-table-column>
            <el-table-column label="下单时间"
                             min-width="100"
                             prop="createTime"></el-table-column>
            <el-table-column label="地址"
                             min-width="150"
                             prop="address"></el-table-column>
            <el-table-column label="支付方式"
                             prop="method">
                <template v-slot="scope">
                    <span>{{scope.row.method === 0 ? '到店支付' : '外送'}}</span>
                </template>
            </el-table-column>
            <el-table-column label="实收金额"
                             prop="price">
                <template v-slot="scope">
                    <span>￥{{scope.row.price }}</span>
                </template>
            </el-table-column>
            <el-table-column label="操作"
                             prop="btn">
                <template slot-scope="{ row }">
                    <el-button @click="goDetail(row)"
                               class="blueBug"
                               plain
                               size="small"
                    >
                        查看
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
                :current-page.sync="page"
                :page-size="pageSize"
                :page-sizes="[10, 20, 30, 40]"
                :total="counts"
                @current-change="handleCurrentChange"
                @size-change="handleSizeChange"
                class="pageList"
                layout="total, sizes, prev, pager, next, jumper"
        ></el-pagination>
    </div>

    <!-- 查看弹框部分 -->
    <el-dialog
            :before-close="handleClose"
            :visible.sync="dialogVisible"
            title="订单信息"
    >
        <div class="info-box">
            <div class="item-box">
                <span class="label">订单号：</span>
                <span class="des">{{ diaForm.id }}</span>
            </div>
            <div class="item-box">
                <span class="label">支付金额：</span>
                <span class="des">￥{{ diaForm.price }}</span>
            </div>
            <div class="item-box">
                <span class="label">下单时间：</span>
                <span class="des">{{ diaForm.createTime }}</span>
            </div>
            <div class="item-box">
                <span class="label">购买商品：</span>
                <span class="des">
                    <el-table :data="diaForm.goods"
                              border
                              stripe
                              style="width: 100%"
                              max-height="250"
                    >
                        <el-table-column label="商品名称"
                                         prop="name"></el-table-column>
                        <el-table-column label="数量"
                                         prop="count"></el-table-column>
                        <el-table-column label="单价"
                                         prop="price"></el-table-column>
                    </el-table>
                </span>

            </div>
        </div>

    </el-dialog>
</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../../plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../plugins/element-ui/index.js"></script>
<!-- 引入axios -->
<script src="../../plugins/axios/axios.min.js"></script>
<script src="../../js/request.js"></script>
<script src="../../api/order.js"></script>
<script>
    new Vue({
        el: '#order-app',
        data() {
            return {
                input: '',
                orderTime: '',
                createTime: '',
                beginTime: '',
                endTime: '',
                counts: 0,
                page: 1,
                pageSize: 10,
                tableData: [],
                dialogVisible: false,
                diaForm: {},
                loading: false
            }
        },
        computed: {},
        watch: {
            orderTime(val) {
                if (val && val.length >= 2) {
                    this.beginTime = val[0]
                    this.endTime = val[1]
                } else {
                    this.beginTime = ''
                    this.endTime = ''
                }
            }
        },
        created() {
            this.init()
        },
        mounted() {
            this.loading = false
        },
        methods: {
            async init() {
                getOrderDetailPage({
                    page: this.page,
                    pageSize: this.pageSize,
                    id: this.input || undefined,
                    beginTime: this.beginTime || undefined,
                    endTime: this.endTime || undefined
                }).then(res => {
                    if (String(res.code) === '1') {
                        this.tableData = res.data.records || []
                        this.counts = res.data.total
                    }
                }).catch(err => {
                    this.$message.error('请求出错了：' + err)
                })
            },
            handleQuery() {
                this.page = 1;
                this.init();
            },
            /**
             * @description 隐藏真实姓名,两个字的姓名隐藏第二个字，三个字以上的姓名隐藏第二个字到倒数第二个字
             */
            formattingName(nameValue) {
                if (nameValue && nameValue.length > 1) {
                    var name = String(nameValue);
                    var reg = /^(\S{1})\S*(\S{1})$/;
                    return name.replace(reg, "$1**$2");
                } else {
                    return nameValue;
                }
            },

            // 查看详情
            goDetail(row) {
                this.diaForm = {}
                this.dialogVisible = true
                this.diaForm = {...row}
            },
            handleClose() {
                this.dialogVisible = false
            },
            handleSizeChange(val) {
                this.pageSize = val
                this.init()
            },
            handleCurrentChange(val) {
                this.page = val
                this.init()
            }
        }
    })
</script>
</body>
</html>
